.contato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.dados-contato{
    padding: 0px;
    list-style: none;
}

.dados-contato li{
   font-size: 1.2rem;
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 0.8rem;
}

.anime-left{
    transform: translateX(-20px);
    opacity: 0;
    animation: animeLeft 0.5s forwards;
}

@keyframes animeLeft{
 to{
    transform: initial;
    opacity: initial;
 }
}